# python_version: 36
PyYAML==5.3.1
aiohttp==3.6.2
arrow==0.16.0
async_timeout==3.0.1
attrs==20.1.0
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
dictdiffer==0.8.1
frozendict==1.2
idna==2.10
idna_ssl==1.1.0
json-e==4.3.0
jsonschema==3.2.0
mohawk==1.1.0
multidict==4.7.6
pexpect==4.8.0
ptyprocess==0.6.0
python-dateutil==2.8.1
python-gnupg==0.4.6
redo==1.6
requests==2.24.0
scriptworker==35.2.0
six==1.15.0
slugid==2.0.0
taskcluster==37.0.0
urllib3==1.22
virtualenv==16.0.0
yarl==1.2.4
transparencyscript==0.0.4  # puppet: nodownload
