# python_version: 27
PyHawk-with-a-single-extra-commit==0.1.5
amqp==2.5.0
anyjson==0.3.3
argparse==1.4.0
arrow==0.14.2
backports.functools_lru_cache==1.5
certifi==2019.6.16
chardet==3.0.4
configman==1.3.0
configobj==5.0.6
ecdsa==0.13.2
functools32==3.2.3-2
idna==2.8
jsonschema==3.0.1
kombu==4.6.3
mohawk==1.0.0
pyasn1==0.4.5
pycrypto==2.6.1
python-dateutil==2.8.0
python-jose==3.0.1
redo==2.0.3
# see bug 1467067
requests==2.10.0  # pyup: ignore
rsa==4.0
sh==1.12.14
signingworker==0.15
six==1.12.0
slugid==2.0.0
taskcluster==7.0.1
wsgiref==0.1.2
vine==1.1.4
urllib3==1.25.3
