# python_version: 27
requests==2.25.1
arrow==1.1.0
taskcluster==43.2.0
sqlalchemy==1.4.15
kombu==5.1.0
redo==2.0.4
mysql-python==1.2.5
amqp==2.3.2
python-dateutil==2.8.1
pytz==2018.4
six==1.16.0
wsgiref==0.1.2
PyHawk-with-a-single-extra-commit==0.1.5
anyjson==0.3.3
PyYAML==5.4.1
jsonschema==3.2.0
slugid==2.0.0
statsd==3.2.2
backports.functools-lru-cache==1.6.4
functools32==3.2.3-2
urllib3==1.26.4
chardet==4.0.0
certifi==2020.12.5
idna==3.1
mohawk==1.1.0
vine==1.1.4
