# python_version: 27
requests==2.22.0
arrow==0.14.2
taskcluster==7.0.1
sqlalchemy==1.3.5
kombu==4.6.3
redo==2.0.3
mysql-python==1.2.5
amqp==2.5.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
wsgiref==0.1.2
PyHawk-with-a-single-extra-commit==0.1.5
anyjson==0.3.3
PyYAML==5.1.1
jsonschema==3.0.1
slugid==2.0.0
statsd==3.2.2
backports.functools-lru-cache==1.5
functools32==3.2.3-2
urllib3==1.25.3
chardet==3.0.4
certifi==2019.6.16
idna==2.8
mohawk==1.0.0
vine==1.1.4
