# python_version: 27
gevent==21.1.2
greenlet==1.1.0
pycrypto==2.6.1
# unused, but one of the vendor libraries (Flask) requires it
Jinja2==3.0.1
MarkupSafe==2.0.1
WebOb==1.8.7
requests==2.25.1
bzrest==1.1
dnspython==2.1.0
paramiko==2.7.2
Flask==2.0.1
Werkzeug==2.0.1
itsdangerous==2.0.1
docopt==0.6.2
python-daemon==2.1.2
gevent_subprocess==0.1.2
furl==1.0.2
orderedmultidict==0.7.11
pytz==2021.1
python-dateutil==2.8.1
# for aws cloud-tools
MySQL-python==1.2.5
PyYAML==5.4.1
SQLAlchemy==1.4.15
cfn-pyplates>=0.5.0
ecdsa==0.16.1
invtool==4.4  # puppet: nodownload
netaddr==0.8.0
ordereddict==1.1
testrepository==0.0.20
python-subunit==1.4.0
extras==1.0.0
testtools==2.4.0
pbr==5.6.0
schema==0.7.4
simplejson==3.17.2
Fabric==2.6.0
IPy==1.01
argparse==1.4.0
boto==2.49.0
iso8601==0.1.14
repoze.lru==0.7
ssh==1.8.0
wsgiref==0.1.2
