# python_version: 27
gevent==20.9.0
WebOb==1.8.6
poster==0.8.1
IPy==1.00
greenlet==0.4.17
redis==3.5.3
# fluf.lock 3.0+ requires python 3
flufl.lock==2.4.1  # pyup: <3.0
pexpect==4.8.0
# widevine: osx cant build cryptography and doesnt need these!
## install six and setuptools before cryptography
setuptools==50.3.2
six==1.15.0
argparse==1.4.0
enum34==1.1.10
ipaddress==1.0.23
asn1crypto==1.4.0
cffi==1.14.3
cryptography==3.2.1
macholib==1.14
altgraph==0.17
idna==2.10
pycparser==2.20
wsgiref==0.1.2
ptyprocess==0.6.0
