# python_version: 36
PyYAML==5.4.1
aiohttp==3.7.4.post0
arrow==1.0.3
async_timeout==3.0.1
bouncerscript==3.6.2  # puppet: nodownload
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
defusedxml==0.7.0
dictdiffer==0.8.1
frozendict==1.2
idna==3.1
idna_ssl==1.1.0
json-e==4.3.0
jsonschema==3.2.0
mohawk==1.1.0
multidict==5.1.0
pexpect==4.8.0
ptyprocess==0.7.0
python-dateutil==2.8.1
python-gnupg==0.4.6
requests==2.25.1
scriptworker==37.0.1
six==1.15.0
slugid==2.0.0
taskcluster==41.1.0
urllib3==1.26.3
virtualenv==20.4.2
yarl==1.6.3
