# python_version: 36
PyYAML==5.3.1
addonscript==1.0  # puppet: nodownload
aiohttp==3.6.2
arrow==0.16.0
async_timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
dictdiffer==0.8.1
ecdsa==0.16.0
frozendict==1.2
future==0.18.2
idna==2.10
idna_ssl==1.1.0
json-e==4.3.0
jsonschema==2.6.0
mohawk==0.3.4
multidict==4.3.1
pexpect==4.6.0
ptyprocess==0.5.2
pyasn1==0.4.3
python-dateutil==2.7.3
python-gnupg==0.4.2
python-jose==3.0.0
requests==2.18.4
rsa==3.4.2
scriptworker==12.0.1
six==1.11.0
slugid==1.0.7
taskcluster==3.0.1
urllib3==1.22
virtualenv==16.0.0
yarl==1.2.4
