# python_version: 36
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4.1
aiohttp==3.7.4.post0
arrow==1.0.3
async_timeout==3.0.1
attrs==20.3.0
beetmoverscript==8.5.6  # puppet: nodownload
boto3==1.17.22
botocore==1.20.22
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
defusedxml==0.7.0
dictdiffer==0.8.1
docutils==0.16
frozendict==1.2
idna==3.1
idna_ssl==1.1.0
incremental==17.5.0
jmespath==0.10.0
json-e==4.3.0
jsonschema==3.2.0
mohawk==1.1.0
multidict==5.1.0
pexpect==4.8.0
ptyprocess==0.7.0
python-dateutil==2.8.1
python-gnupg==0.4.6
redo==2.0.4
requests==2.25.1
s3transfer==0.3.4
scriptworker==37.0.1
six==1.15.0
slugid==2.0.0
taskcluster==41.1.0
toml==0.10.2
towncrier==19.2.0
urllib3==1.26.3
virtualenv==20.4.2
yarl==1.6.3
